@page
@{
    ViewData["Title"] = "Pagina Principal";
}




<section class="jumbotron text-center bg-light">
    <div class="container">
        <h1>Tesis POS</h1>
        <p class="lead text-muted">El mejor pos del universo universal. Y ahora caracteres de relleno para poder rellenar lo que debe ser rellenado por falta de relleno rellenoso muy relleno de relleno rellenado con una pizca de canela para rellenar.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>




<!--Aqui inician las 3 cartas-->
<div class="container marketing">

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/icons/archive.svg" title="Bootstrap" width="140" background="#777" color="#777" class="rounded-circle">
            <h2>Registro de ventas</h2>
            <p>Vendes pudding y nep se pone feliz</p>
            <p><a class="btn btn-secondary" href="/Sell/SellingMainPage" role="button">Vender (Funciona) &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/shield-lock.svg" title="Bootstrap" width="140" height="140" background="#777" color="#777" class="rounded-circle">
            <h2>Manejo de permisos</h2>
            <p>Nep es la diosa y ella proclama todo el pudding de este humilde pais, RAPIDO ESCORIA. Gracias :)</p>
            <p><a class="btn btn-secondary" href="/Product/ProductMain" role="button">Productos (Funciona) &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/command.svg" title="Bootstrap" width="140" height="140" background="#777" color="#777" class="rounded-circle">
            <h2>Predicción de inventario</h2>
            <p>La inteligencia de Nep ha superado el entendimiento humano y por eso contrató una IA para que prediga el inventario mientras ella come pudding</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <!--Aqui terminan las 3 cartas-->

    <!--Aqui inicia la informacion que está despues da las cartas-->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Esto corre hasta en una <span class="text-muted">Tostadora</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/Multiplataforma.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">No solo vendes, evitas <span class="text-muted">Sobrecostos</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/ahorro.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Esta cosa es <span class="text-muted">Segura</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/securityDragon.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <!-- <hr class="featurette-divider">-->
    

</div>